* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70%;
  background: wheat;
  margin: 8% 12.5%;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

.img {
  margin: 1% 2%;
}

.para1 {
  margin-right: auto;
}

.form {
  padding: 4%;
}

input {
  padding: 1.3%;
  margin: 1%;
  text-indent: 6px;
  font-weight: 500;
}

.btn {
  width: 94%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.abi {
  max-width: 100%;
  height: 100%;
}

.second-Con {
  padding-bottom: 100px;
}