* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  max-width: 70%;
  background: wheat;
  margin: 8% 12.5%;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

.img {
  height: 40px;
  margin: 1% 2%;
}

.para1 {
  margin-right: auto;
}